---
import { getArticles } from "../utils/news.js";
import "../styles/global.css";
import { ClientRouter } from 'astro:transitions';

const articles = await getArticles();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📡</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Locus</title>

    <!-- Leaflet CSS -->
    <!-- Bron https://leafletjs.com/examples.html -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <ClientRouter />
  </head>
  <body>
    <div id="map" transition:name="map" transition:persist></div>

    <aside class="news-sidebar">
      <h1>NEWS FEED</h1>
      <ul class="news-list" id="news-list">
        {
          articles.map((article, index) => (
            <li class="news-item" transition:name={`article-${article.id}`}>
              <div class="news-title">{article.title}</div>
              <div class="news-footer">
                <div class="location-tag">
                  <span class="status-dot" />
                  <span class="location-text">Scanning...</span>
                </div>
                <a href={`/article?id=${article.id}`} class="read-more-btn">
                  Read ↗
                </a>
              </div>
            </li>
          ))
        }
      </ul>

      <script
        id="news-data"
        type="application/json"
        set:html={JSON.stringify(articles)}
      />
    </aside>

    <!-- Leaflet JS -->
    <!-- Bron https://leaflet-extras.github.io/leaflet-providers/preview/#filter=CartoDB.DarkMatter -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
